<h2>Comics</h2>

{{#each model as |comic|}}
  id:{{comic.id}}
  <br>
  Title:{{comic.title}}
  <br>
  <br>
  {{comic.description}}
  <br>
  <br>
  {{#link-to 'comics.show' comic class='btn'}}
    Buy
  {{/link-to}}
  <br>
  <img src="{{comic.thumbnail.path}}/portrait_uncanny.{{comic.thumbnail.extension}}" alt="">
  <br>
{{/each}}